---
import MainLayout from "@/layout/MainLayout.astro";
import { TicketCard } from "@/components/event/TicketCard";
import EventUserInteractionSection from "@/components/event/EventUserInteractionSection";
import { MapPinCheckInside, Calendar } from "lucide-react";
import { Image } from "astro:assets";
const { id } = Astro.params;
---

<MainLayout>
  <div class="w-full pb-20">
    <Image
      width={50}
      height={50}
      src="https://picsum.photos/seed/event/1200/400"
      class="w-full rounded-lg"
      alt="event banner"
    />
    <div class="flex justify-between items-center">
      <h2 class="text-3xl font-bold mt-5">TechFest 2k25</h2>
      <EventUserInteractionSection client:only />
    </div>
    <div class="flex gap-10 mt-5">
      <div class="flex gap-1">
        <Calendar className="text-blue-400" />
        <span>12th - 14th March 2025</span>
      </div>
      <div class="flex gap-1">
        <MapPinCheckInside className="text-blue-400" />
        <span>Kozhikode</span>
      </div>
    </div>
    <p class="mt-10">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione,
      obcaecati ea nesciunt hic odio omnis eaque mollitia, iusto impedit quas
      illo debitis itaque magnam enim. Architecto tenetur sint, corrupti
      temporibus recusandae alias, asperiores distinctio ipsam suscipit nemo sit
      at ea?
    </p>
    <h2 class="text-2xl font-bold mt-20">Requirements</h2>
    <p class="mt-2">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ex!
    </p>
    <h2 class="text-2xl font-bold mt-20">Tickets</h2>
    <div class="mt-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
      <TicketCard title="Students" price={800} navLink="ticket/2" />
      <TicketCard title="Students" price={800} navLink="ticket/2" />
      <TicketCard title="Students" price={800} navLink="ticket/2" />
    </div>
  </div>
</MainLayout>
