---
import EventCardHorizontal from "@/components/home/EventCardHorizontal";
import MainLayout from "@/layout/MainLayout.astro";
import { EventService, type EventListType } from "@/services/event";

let managedEvents: EventListType[] = [];

try {
  managedEvents = await EventService.getInstance().getManagedEvents(
    Astro.locals.user!.id
  );
} catch (error) {
  console.log(error);
}
---

<MainLayout>
  <h1 class="font-bold text-4xl text-center mb-20">Events managed by you</h1>
  <div class="grid grid-cols-1 gap-4">
    {managedEvents.map((data) => <EventCardHorizontal eventData={data} />)}
  </div>
</MainLayout>
