---
import SearchBar from "@/components/home/SerachBar";
import PopularEvents from "@/components/home/PopularEvents";
import MainLayout from "@/layout/MainLayout.astro";

const user = Astro.locals.user;

if (!user) {
  return Astro.redirect("/auth/login");
}
---

<MainLayout>
  <div class="py-10">
    <SearchBar client:load />
  </div>
  <h1 class="text-4xl font-semibold mb-10">Discover Events</h1>
  <p class="font-medium mb-5">Popular events</p>
  <div class="mx-10">
    <PopularEvents client:load />
  </div>
</MainLayout>
